<section class="well">
    <ul id="api-toc" class="nav nav-list">
        <li class="nav-header">Import2 API</li>
        <li class="page">
            <a href="/">Getting Started</a>
        </li>
        <li class="page">
            <a href="/import2-button">Import2 Button</a>
        </li>
        <li class="page">
            <a href="/custom-integration">Custom Integration</a>
        </li>
        <li class="page">
            <a href="/api-reference">API Reference</a>
            <ul class="nav nav-list">
                <li><a href="/api-reference#authentication">Authentication</a></li>
                <li><a href="/api-reference#sandbox">Sandbox</a></li>
                <li><a href="/api-reference#response-codes">Response Codes and Errors</a></li>
                <li><a href="/api-reference#get-tools">GET /tools/:destination_tool</a></li>
                <li><a href="/api-reference#post-imports">POST /imports</a></li>
                <li><a href="/api-reference#get-import">GET /imports/:id</a></li>
            </ul>
        </li>
        <li class="page">
            <a href="/webhook-reference">Webhook Reference</a>
        </li>
        <li class="page">
            <a href="/changelog">Changelog</a>
        </li>
    </ul>
</section>
